<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" />
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>Oson Do'kon - 15 daqiqada onlayn do'kon yarating</title>
    <meta name="title" content="Oson Do'kon - O‘zbekistonda onlayn do‘kon ochish" />
    <meta name="description"
      content="Oson Do'kon - O‘zbekistonda e-commerce biznesingizni boshlash uchun eng oson platforma. 15 daqiqada internet do‘kon oching va mahsulotlaringizni onlayn soting!" />
    <meta name="keywords"
      content="Oson Do'kon, onlayn do'kon yaratish, e-commerce platforma O‘zbekistonda, Shopify alternativasi, Telegram bot orqali savdo, internet do‘kon O‘zbekistonda, bepul e-commerce platforma, e-commerce biznes boshlash, mahsulotlarni onlayn sotish" />
    <meta name="author" content="Oson Do'kon" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://osondokon.uz" />
    <meta property="og:title" content="Oson Do'kon - 15 daqiqada onlayn do'kon yarating" />
    <meta property="og:description"
      content="Oson Do'kon - O‘zbekistonda o‘z e-commerce biznesingizni boshlash uchun eng oson platforma! Onlayn do‘koningizni yaratib, mahsulotlaringizni butun O‘zbekiston bo‘ylab soting!" />
    <meta property="og:image" content="https://osondokon.uz/images/osondokon-banner.png" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://osondokon.uz" />
    <meta property="twitter:title" content="Oson Do'kon - 5 daqiqada onlayn do'kon yarating" />
    <meta property="twitter:description"
      content="Oson Do'kon - O‘zbekistonda onlayn do‘kon ochish uchun eng yaxshi platforma. 15 daqiqada e-commerce biznes boshlang!" />
    <meta property="twitter:image" content="https://osondokon.uz/images/osondokon-banner.png" />


    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <meta name="theme-color" content="#fff" />
    <script type="module" crossorigin src="/static/assets/index-CEdh7iIZ.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/vendor-c89Lsf8L.js">
    <link rel="stylesheet" crossorigin href="/static/assets/index-C_wuuYLX.css">
  </head>
  <body class="group/body">
    <div id="root"></div>
  </body>
</html>
